In [2]:
import pandas as pd
df = pd.read_csv("candidates_1.csv",header=None)
df.head()

,0,1,2
0,"The full cost of damage in Newton Stewart, one...",The clean-up operation is continuing in parts ...,Clean-up operations are continuing across the ...
1,A fire alarm went off at the Holiday Inn in Ho...,Two tourist buses have been destroyed in a sus...,Two tourist buses have been destroyed by fire ...
2,Ferrari appeared in a position to challenge un...,Lewis Hamilton beat Mercedes team-mate Nico Ro...,Lewis Hamilton stormed to pole position at the...
3,"John Edward Bates, formerly of Spalding, Linco...",A former Lincolnshire Police officer has gone ...,A former Lincolnshire Police officer carried o...
4,Patients and staff were evacuated from Cerahpa...,Turkish police have ended a siege at a psychia...,An armed man who locked himself into a room at...

In [3]:
df[df.columns[1]][2]

'Lewis Hamilton beat Mercedes team-mate Nico Rosberg to pole position at the Bahrain Grand Prix.|Lewis Hamilton pipped Mercedes team-mate Nico Rosberg to pole position at the Bahrain Grand Prix.|Lewis Hamilton beat team-mate Nico Rosberg to pole position at the Bahrain Grand Prix.|Lewis Hamilton pipped team-mate Nico Rosberg to pole position at the Bahrain Grand Prix.|Lewis Hamilton beat Mercedes team-mate Nico Rosberg to pole position for the Bahrain Grand Prix.'

In [4]:
# pip install torchmetrics
from torchmetrics.text.rouge import ROUGEScore
from torchmetrics.text.bert import BERTScore


import numpy as np

def eval_Scores_Candidates(val_texts, val_summaries, val_labels):
    print("\n", "*"*10, "1 - evaluation with", "*"*10)
    rogue_scorer = ROUGEScore()
    bert_scorer = BERTScore()

    all_r1s = []
    all_r2s = []
    all_rls = []
    all_BERTs = []
    for i in range(len(val_summaries)):
        summaries = val_summaries[i].split("|")
        # print(summaries)
        label = val_labels[i]
        rscores = [rogue_scorer(summary, label) for summary in summaries]
        # bscores = bert_scorer(summary, label)

        all_r1s.append([rscore["rouge1_fmeasure"].item() for rscore in rscores])
        all_r2s.append([rscore["rouge1_fmeasure"].item() for rscore in rscores])
        all_rls.append([rscore["rougeL_fmeasure"].item() for rscore in rscores])
        # all_BERTs.append(bscores["f1"])

    # all_r1s = 100 * np.array(all_r1s)
    # all_r2s = 100 * np.array(all_r2s)
    # all_rls = 100 * np.array(all_rls)
    # mean_r1 = np.mean(all_r1s)
    # mean_r2 = np.mean(all_r2s)
    # mean_rl = np.mean(all_rls)
    # mean_r = (mean_r1 + mean_r2 + mean_rl) / 3
    # print("Mean R: {:.4f}, R-1: {:.4f} (var: {:.4f}), R-2: {:.4f} (var: {:.4f}), R-L: {:.4f} (var: {:.4f})".format(
    #     mean_r, mean_r1, np.std(all_r1s), mean_r2, np.std(all_r2s), mean_rl, np.std(all_rls)))

    return all_r1s, all_r2s, all_rls

/opt/conda/lib/python3.8/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [5]:
# %%capture --no-stderr
import os
os.environ["TOKENIZERS_PARALLELISM"] = "false"
r1s,r2s,rls = eval_Scores_Candidates(df[df.columns[0]],df[df.columns[1]],df[df.columns[2]])

 ********** 1 - evaluation with **********

/home/vv2116/.local/lib/python3.8/site-packages/torchmetrics/text/bert.py:163: UserWarning: The argument `model_name_or_path` was not specified while it is required when the default `transformers` model is used. It will use the default recommended model - 'roberta-large'.
  warn(

In [6]:
r1s[0]

[0.5945945978164673,
 0.523809552192688,
 0.699999988079071,
 0.5365853905677795,
 0.75]

In [7]:
df["r1"] = pd.Series(r1s)
df["r2"] = pd.Series(r2s)
df["rl"] = pd.Series(rls)
df.to_csv("candidate_scores_1.csv",index=False)

In [8]:
df = pd.read_csv("candidate_scores_1.csv")
df.head()

,0,1,2,r1,r2,rl
0,"The full cost of damage in Newton Stewart, one...",The clean-up operation is continuing in parts ...,Clean-up operations are continuing across the ...,"[0.5945945978164673, 0.523809552192688, 0.6999...","[0.5945945978164673, 0.523809552192688, 0.6999...","[0.4324324429035187, 0.3333333432674408, 0.550..."
1,A fire alarm went off at the Holiday Inn in Ho...,Two tourist buses have been destroyed in a sus...,Two tourist buses have been destroyed by fire ...,"[0.800000011920929, 0.9375, 0.8666666746139526...","[0.800000011920929, 0.9375, 0.8666666746139526...","[0.800000011920929, 0.9375, 0.8666666746139526..."
2,Ferrari appeared in a position to challenge un...,Lewis Hamilton beat Mercedes team-mate Nico Ro...,Lewis Hamilton stormed to pole position at the...,"[0.8823529481887817, 0.8823529481887817, 0.848...","[0.8823529481887817, 0.8823529481887817, 0.848...","[0.5882353186607361, 0.5882353186607361, 0.606..."
3,"John Edward Bates, formerly of Spalding, Linco...",A former Lincolnshire Police officer has gone ...,A former Lincolnshire Police officer carried o...,"[0.39024388790130615, 0.4324324429035187, 0.38...","[0.39024388790130615, 0.4324324429035187, 0.38...","[0.3414634168148041, 0.37837839126586914, 0.33..."
4,Patients and staff were evacuated from Cerahpa...,Turkish police have ended a siege at a psychia...,An armed man who locked himself into a room at...,"[0.4864864945411682, 0.5714285969734192, 0.565...","[0.4864864945411682, 0.5714285969734192, 0.565...","[0.37837839126586914, 0.523809552192688, 0.478..."

In [ ]:
x = df[df.columns[2]][1]
len(x.split("\","))

6

In [ ]:
x

'["China\'s economy grew 7.4% in the first quarter of the year, beating expectations.", "China\'s economy grew 7.4% in the first quarter of the year from a year earlier, beating expectations.", "China\'s economy grew 7.4% in the first quarter of the year from a year earlier, slightly better than expected.", "China\'s economy grew 7.4% in the first quarter of the year from a year earlier, official figures show.", "China\'s economy grew 7.4% in the first quarter of the year from a year earlier, official figures show, beating expectations.", \'Monks at St Magnus Abbey in Moray have said they will fight any plans to build a new road close to their site.\', \'Monks at St Magnus Abbey in Moray have said they are concerned about the possible route of a new road.\', \'Monks at St Magnus Abbey in Moray have said they will fight any plans to build a new road close to their property.\', \'Monks at St Magnus Abbey in Moray have said they are concerned about the possible route of a major road project.\', \'Monks at St Magnus Abbey in Moray have said they will fight any plans to build a new dual carriageway close to their site.\']'

In [ ]:
[item[1:]+"\"" for item in x[:-1].split("\",")]

['"China\'s economy grew 7.4% in the first quarter of the year, beating expectations."',
 '"China\'s economy grew 7.4% in the first quarter of the year from a year earlier, beating expectations."',
 '"China\'s economy grew 7.4% in the first quarter of the year from a year earlier, slightly better than expected."',
 '"China\'s economy grew 7.4% in the first quarter of the year from a year earlier, official figures show."',
 '"China\'s economy grew 7.4% in the first quarter of the year from a year earlier, official figures show, beating expectations."',
 '\'Monks at St Magnus Abbey in Moray have said they will fight any plans to build a new road close to their site.\', \'Monks at St Magnus Abbey in Moray have said they are concerned about the possible route of a new road.\', \'Monks at St Magnus Abbey in Moray have said they will fight any plans to build a new road close to their property.\', \'Monks at St Magnus Abbey in Moray have said they are concerned about the possible route of a major road project.\', \'Monks at St Magnus Abbey in Moray have said they will fight any plans to build a new dual carriageway close to their site.\'"']

In [ ]:
repr(x)

'\'["China\\\'s economy grew 7.4% in the first quarter of the year, beating expectations.", "China\\\'s economy grew 7.4% in the first quarter of the year from a year earlier, beating expectations.", "China\\\'s economy grew 7.4% in the first quarter of the year from a year earlier, slightly better than expected.", "China\\\'s economy grew 7.4% in the first quarter of the year from a year earlier, official figures show.", "China\\\'s economy grew 7.4% in the first quarter of the year from a year earlier, official figures show, beating expectations.", \\\'Monks at St Magnus Abbey in Moray have said they will fight any plans to build a new road close to their site.\\\', \\\'Monks at St Magnus Abbey in Moray have said they are concerned about the possible route of a new road.\\\', \\\'Monks at St Magnus Abbey in Moray have said they will fight any plans to build a new road close to their property.\\\', \\\'Monks at St Magnus Abbey in Moray have said they are concerned about the possible route of a major road project.\\\', \\\'Monks at St Magnus Abbey in Moray have said they will fight any plans to build a new dual carriageway close to their site.\\\']\''